################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/arch-midproject/v16/ipch/76d8473a66b3f3cd.ipch
/.vs/arch-midproject/v16/ipch/b7bdc00c751d1648.ipch
